.movieMain{
    display: flex;
    justify-content: center;
}

.movieBody{
    background-color: #B5838D;
    border-radius: 8px;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-evenly;*/
    width: 80%;
    height: 80%;
    margin-bottom: 40px;
    flex-direction: column;
}

.img{
    width: 25%;
    height: 500px;
    padding: 100px 50px 20px 41px;
    /*border-radius: 50%;*/
    pointer-events: none;
}
.movieData{
    text-align: center;
    font-size: 30px;
    margin-bottom: -100px;
}
.movieData p {
    font-weight: bold;
    font-size: 40px;
}
.movieDetailBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*.icons{*/
/*    margin-top: 8px;*/
/*}*/

.genre{
    display: flex;
    align-items: center;
    justify-content: space-around;;
    padding: 4px 60px;
    background-color: #F8B1A1;
    margin-bottom: 16px;
    border-radius: 8px;
}

.genre p {
    font-weight: bold;
    font-size: 16px;
}
.icons img{
    width: 40%;
}

.langPic{
    /*margin-top: -10px;*/
    width: 50%;
}
.movieInfo{
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}
.trailer{
    background-color: #F8B1A1;
    border-radius: 8px;
    padding-bottom: 22px;
}
.trailer p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 40px;
}

.info{
    text-align: center;
    background-color: #F8B1A1;
    border-radius: 8px;
}
.languages{
    display: flex;
    width: 96%;
    margin-left: 2%;
    /*display: grid;*/
    /*!*grid-template-columns: auto auto auto;*!*/
    /*grid-template-columns: repeat(3, 1fr);*/
    /*margin-top: -15px;*/
    /*justify-items: center*/
}
img{
    cursor: pointer;
}
#episode{
    padding-right: 0px;
    padding-left: 0px;
}

.selectEpisodes{
    border-radius: 8px;
    font-size: 16px;
}